@use "@repo/iconset/icons.scss";
@use "./accessibility.scss";
@use "./colors.scss";
@use "./themes";
@use "./container.scss";
@use "./typography.scss";
@use "./utils.scss";
@use "./overrides/image-slider-overrides.scss";
@use "./overrides/image-specific-styles.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

video {
  margin-top: 1rem;
}
