@use "sass:list";

$spacings: (0, 1rem, 2rem, 3rem, 4rem);

@for $i from 1 through list.length($spacings) {
  $value: list.nth($spacings, $i);

  .mt-#{$i - 1} {
    margin-top: $value;
  }
  .mb-#{$i - 1} {
    margin-bottom: $value;
  }
  .ml-#{$i - 1} {
    margin-left: $value;
  }
  .mr-#{$i - 1} {
    margin-right: $value;
  }

  .gap-#{$i - 1} {
    gap: $value;
  }
}

.mb-0\.5 {
  margin-bottom: 0.5rem;
}

.mt-0\.5 {
  margin-top: 0.5rem;
}
.ml-0\.5 {
  margin-left: 0.5rem;
}
.mr-0\.5 {
  margin-right: 0.5rem;
}

.gap-0\.5 {
  gap: 0.5rem;
}

.block {
  display: block;
}

.lh-1 {
  line-height: 1;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.shadow {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
