#multifeed-logo {
  max-width: 400px;
}

#colors-toy-blocks,
#colors-rounded-logo-2 {
  margin-top: 2rem;
}

#colors-rounded-logo-1,
#colors-rounded-logo-2,
#colors-rounded-logo-3,
#colors-rounded-logo-4,
#colors-slab-serif-logo-4 {
  margin-bottom: 1.5rem;
}

#colors-slab-serif-logo-2,
#colors-rounded-logo-5 {
  margin-bottom: 3rem;
}
